body {
    font-family: 'Poppins', sans-serif;
}

/* Style for header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    color: white;
    background-color: #161616;
    width: 1321px;
    height: 664px;
    margin-top: 30px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.head h1 {
    font-size: 70px;
    margin: 0;
}

.first {
    margin: 111px 30px 111px 106px;
}

.head img {
    width: 581px;
    height: 613px;
    margin-top: 51px;
}

.head button {
    padding: 15px 20px;
    border-radius: 5px;
    background-color: goldenrod;
    font-size: 16px;
}

.fa-play {
    margin-left: 5px;
    width: 30px;
}

/* Complete Header Style */

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.full {
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


/* Style for Options */

.blogs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 103px;

}

.options {
    background-color: #161616;
    width: 312px;
    height: 312px;
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 10px;

}

.options button {
    width: 252px;
    height: 65px;
    margin-top: 30px;
    border-radius: 10px;
    font-size: 20px;
}

.upcoming-match {
    background-color: goldenrod;
}

/* Complete Blog Style */


/* Style for live Matches */

.all-blogs {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 330px);
    grid-template-rows: repeat(2, 265px);
    padding-top: 94px;
}

.live {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 242px;
    margin: 25px;
    border: 2px solid lightgray;
    border-radius: 12px;


}

.live img {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 55px;

}

.flag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.flag h4 {
    margin: 18px;
}




/* Complete live matches */

/* Style for footer */

footer {
    display: grid;
    justify-content: center;
    align-items: center;
}

.footer {
    color: wheat;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #161616;
    width: 1600px;
    height: 444px;
    margin-top: 100px;
}

.footer h1 {
    border-bottom: 1px solid rgba(128, 128, 128, 0.885);
    padding-bottom: 50px;
    padding-top: 0;
    width: 1200px;
}

.last {
    display: flex;
    justify-content: center;
    align-items: center;
}

.last p {
    margin-top: -160px;
    margin-left: 50px;
}

/* Media Queris */
/* Mobile Devices */

@media only screen and (max-width:600px) {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        display: grid;
        justify-items: center;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(1, 1fr);
        padding: 28px;
        height: 472px;
        width: 334px;
        margin-top: 10px;
    }

    .head {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 258px;
        height: 178px;
        margin: 0px;
        padding: 0px;
    }

    .head h1 {
        font-size: 34px;
        text-align: center;
    }

    .head p {
        text-align: center;
    }

    .head img {
        width: 233px;
        height: 245px;
        margin-top: 47px;
    }

    main {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .blogs {

        justify-content: center;
        align-items: center;
        margin-top: 24px;

    }

    .options {
        justify-content: center;
        background-color: white;
        width: 312px;
        height: 312px;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;

    }

    .options button {
        width: 252px;
        height: 65px;
        margin-top: 30px;
        border-radius: 10px;
        font-size: 20px;
    }







    .all-blogs {
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(1, 330px);
        grid-template-rows: repeat(1, 394px);
        padding-top: 40px;
    }

    .live {
        width: 335px;
        height: 362px;
        margin: 0;
        margin-top: 20px;
        border: 2px solid lightgray;
        border-radius: 12px;


    }

    .live img {
        width: 125px;
        height: 80px;

    }

    .title {
        margin: 12px;
    }

    .title button {
        width: 100px;
        height: 25px;
    }

    .title p {
        word-spacing: 20px;
    }


    .footer {
        width: 400px;
    }

    .last {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .last p {
        margin-top: 1px;
        margin-left: 0px;
    }

    .footer h1 {
        width: 300px;
    }


}