body {
    font-family: 'Poppins', sans-serif;
}

/* Style for header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    color: white;
    background-color: #161616;
    width: 1321px;
    height: 664px;
    margin-top: 30px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.head h1 {
    font-size: 70px;
    margin: 0;
}

.first {
    margin: 111px 30px 111px 106px;
}

.head img {
    width: 581px;
    height: 613px;
    margin-top: 51px;
}

.head button {
    padding: 15px 20px;
    border-radius: 5px;
    background-color: goldenrod;
    font-size: 16px;
}

.fa-play {
    margin-left: 5px;
    width: 30px;
}

/* Complete Header Style */

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.full {
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


/* Style for Options */

.blogs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 103px;

}

.options {
    background-color: #161616;
    width: 312px;
    height: 312px;
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 10px;

}

.options button {
    width: 252px;
    height: 65px;
    margin-top: 30px;
    border-radius: 10px;
    font-size: 20px;
}

.upcoming-match {
    background-color: goldenrod;
}

/* Complete Blog Style */


/* Style for live Matches */

.all-blogs {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 330px);
    grid-template-rows: repeat(2, 265px);
    padding-top: 94px;
}

.live {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 242px;
    margin: 25px;
    border: 2px solid lightgray;
    border-radius: 12px;


}

.live img {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 55px;

}

.flag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.flag h4 {
    margin: 18px;
}




/* Complete live matches */

/* Style for footer */

footer {
    display: grid;
    justify-content: center;
    align-items: center;
}

.footer {
    color: wheat;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #161616;
    width: 1600px;
    height: 444px;
    margin-top: 100px;
}

.footer h1 {
    border-bottom: 1px solid rgba(128, 128, 128, 0.885);
    padding-bottom: 50px;
    padding-top: 0;
    width: 1200px;
}

.last {
    display: flex;
    justify-content: center;
    align-items: center;
}

.last p {
    margin-top: -160px;
    margin-left: 50px;
}